/* ------------ reset ------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* ------------ configurações base ------------ */
:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 2.1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/* ------------ sistema de grid com 12 colunas ------------ */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* ------------ cabeçalho ------------ */

/* imagem de fundo */
.header {
    width: 100%;
    min-height: 8vh;
	background-color: #13293D;
	background-size: cover;
    background-position: top;
    z-index: 0;
}

.header-body {
    position: relative;
    z-index: 1;  
    color: #fff;  
}

/* menu */
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
}

.header nav h1 span {
    color: #1B98E0;
}

.header nav ul li{
    list-style: none;
    display: inline;
    cursor: pointer;
}

.header nav ul li  {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    position: relative;
}

.header nav ul li:hover {
    color: #006494;

}

.header nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: #006494;
    top: 4rem;
    left: 0;
    transition: 0.5s;
}

.header nav ul li:hover::after {
    width: 100%;
}


/* conteudo do header h1 e botao */
.header-conteudo {
    text-align: center;
    padding: 100px;
    background-image: url(../img/9cceedb85aa7fdbe60f3512da07ee5bf.jpg);
    min-height: 50rem;
}

.header-conteudo h1{
    font-size: 5rem;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    padding: 0 18%;
    color: rgb(255, 255, 255);
}

.header-conteudo a {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #247BA0;
    padding: 2rem 4rem;
    font-weight: bold;
    border-radius: 1rem;
    border: #13293D solid 0.3rem;
    
}

.header-conteudo a:hover {
    background-color: #1B98E0;
    transition: 0.5s;
    color: #ffffff;
    transform: scale(1.1);
}

.enfeite {
    background-color: #1B98E0;
    width: 100%;
    height: 20px;
}

/* ------------ jeanc ------------ */
.titulo-principal {
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #13293D;
    position: relative;
    display: flex;
    justify-content: center;
}

.titulo-principal::after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 0.6rem;
    background-color: #006494;
    top: 4rem;
    transition: 0.5s;

}

.jeanc {
    padding-top: 6rem;
}

.jean .container .row .col-6{
    position: relative;
    min-height: 55rem;
}

.jean .container .row .col-6:nth-child(1)::after{
    content: '';
    background-image: url(../img/code.png);
    width: 100%;
    height: 44rem;
    clip-path: circle();
    position: absolute;
    left: -2%;
    bottom: 9rem;
    z-index: 0;
}

.img-prof {
    position: relative;
    max-height: 60rem;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

    
.descricao-jean {
    min-height: 70rem;
    display: flex;
    align-items: center;

}

.descricao-jean h2 {
    font-size: 4rem;
}

.descricao-jean ul {
    list-style: none;
  }

.descricao-jean ul li {
    position: relative;
    margin: 2.5rem 0 2.5rem 2rem;
}

.descricao-jean ul li:before {
    content: '';
    background-color: #006494;
    height: 2rem;
    width: 2rem;
    clip-path: circle();
    /* margin: 2rem 0; */
    position: absolute;
    left: -3.5rem;
    top: 0.5rem;
    
}
/* ------------ projetos ------------ */

.projetos {
    background-color: #247BA0;
}

.projetos h1 {
    text-align: center;
    padding: 20px 0 0 0;
    color: white;
}

/* ------------ contato ------------ */

/* Style inputs */
input[type=text], select, textarea {
width: 60rem;
padding: 12px;
border: 1px solid #E8F1F2;
resize: vertical;
}

input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

/* Style the container/contact section */
.contatos-container {
    align-items: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5% 30% 5% 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1.8rem;

}

footer {
    color: white;
    width: 100%;
    height: 3.8rem;
    position: relative;
    bottom: 0;
    left: 0;
    padding-bottom: 0px;
    text-align: center;
    background-color: black;

}
/* ------------ Responsivo ------------*/

/* ------------ tablet ------------ */
@media (max-width: 919px) {
    /* configurações base */
    :root {
        font-size: 50%;
    }

}

/* ------------ celular ------------ */
@media (max-width: 700px) {
    /* configurações base */
    :root {
        font-size: 33%;
    }

    /* header */
    .header {
        min-height: 5vh;
    }
    .header-conteudo h1{
        font-size: 5rem;
        padding: 0;
        width: 100%;
    }

    /* jean */
    .jean .container .row {
        display: flex;
        flex-direction: column-reverse;

    }

    .jean .container .row .col-6{
        width: 100%;
    }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}