/* ------------ reset ------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* ------------ configurações base ------------ */
:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 2.1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/* ------------ sistema de grid com 12 colunas ------------ */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* ------------ cabeçalho ------------ */

/* imagem de fundo */
.header {
    z-index: 1000;
    width: 100%;
    min-height: 8vh;
	background-color: black;
    z-index: 1000;
    position: fixed;
}

.header-body {
    position: relative;
    z-index: 1001;  
    color: #fff;  
}

/* menu */
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
}

.header nav h1 span {
    color: #612F74;
}

.header nav ul li{
    list-style: none;
    display: inline;
    cursor: pointer;
}

.header nav ul li  {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    position: relative;
}

.header nav ul li:hover {
    color: #612F74;

}

.header nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: #612F74;
    top: 4rem;
    left: 0;
    transition: 0.5s;
}

.header nav ul li:hover::after {
    width: 100%;
}


/* conteudo do header h1 e botao */
.header-conteudo {
    text-align: center;
    padding: 100px;
    background-image: url(../img/new-fundo.jpg);
    min-height: 97vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header-conteudo h1{
    margin-top: 10rem;
    font-size: 5rem;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    padding: 0 18%;
    color: #fff;
}

.header-conteudo #btn-ctt {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(6, 6, 6);
    padding: 2rem 4rem;
    font-weight: bold;
    border-radius: 1rem;
    border: #612F74 solid 0.3rem;
}

.header-conteudo #btn-ctt:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

i {
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

i:hover {
    color: #612F74;
}


.enfeite {
    background-color: #612F74;
    width: 100%;
    height: 3vh;
}

/* ------------ jean ------------ */
.jean {
    background-color: rgb(6, 6, 6);
}
.titulo-principal {
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
}

.titulo-principal::after {
    content: '';
    position: absolute;
    width: 12rem;
    height: 0.6rem;
    background-color: #612F74;
    top: 5.5rem;
    transition: 0.5s;
}

.jean .container .row .col-6{
    position: relative;
    min-height: 55rem;
}

.jean .container .row .col-6:nth-child(1)::after{
    content: '';
    background-image: url(../img/code.png);
    width: 100%;
    height: 44rem;
    clip-path: circle();
    position: absolute;
    left: -2%;
    bottom: 9rem;
    z-index: 0;
}

.img-prof {
    position: relative;
    max-height: 60rem;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

    
.descricao-jean {
    min-height: 70rem;
    display: flex;
    align-items: center;
    color: white;

}

.descricao-jean h2 {
    font-size: 3rem;
}

.descricao-jean ul {
    list-style: none;
}

.descricao-jean ul li {
    position: relative;
    margin: 0 0 0 0;
}

.descricao-jean ul li:before {
    content: '';
    background-color: #612F74;
    height: 1rem;
    width: 1rem;
    clip-path: circle();
    /* margin: 2rem 0; */
    position: absolute;
    left: -3.5rem;
    top: 1.2rem;
    
}
/* ------------ projetos ------------ */

.projetos {
    background-color: rgb(20, 20, 20);
}

.projetos h1 {
    text-align: center;
    padding: 20px 0 0 0;
    color: white;
    margin-bottom: 2rem;
}

/* ------------ contato ------------ */

/* Style inputs */
input[type=text], select, textarea {
width: 60rem;
padding: 12px;
border: 1px solid #E8F1F2;
resize: vertical;
}

input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

/* Style the container/contact section */
.contato {
    padding: 5rem;
    background-color: black;
    text-align: center;
    color: white;
}
.contato p{
    margin: 0;
}
.contato h1 {
    padding-bottom: 5rem;
}
footer {
    color: white;
    width: 100%;
    height: 20vh;
    position: relative;
    bottom: 0;
    left: 0;
    padding-bottom: 0px;
    text-align: center;
    background-color: #060606;
    vertical-align: center;
    line-height: 20vh;
}
#btn-msg {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
    color: #fff;
    background-color: rgb(6, 6, 6);
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: #612F74 solid 0.3rem;
}
#btn-msg:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
    outline: 0;
}

/* ------------ Responsivo ------------*/

/* ------------ tablet ------------ */
@media (max-width: 919px) {
    /* configurações base */
    :root {
        font-size: 50%;
    }

}

/* ------------ celular ------------ */
@media (max-width: 700px) {
    /* configurações base */
    :root {
        font-size: 33%;
    }

    /* header */
    .header {
        min-height: 5vh;
    }
    .header-conteudo h1{
        font-size: 5rem;
        padding: 0;
        width: 100%;
    }

    /* jean */
    .jean .container .row {
        display: flex;
        flex-direction: column-reverse;

    }

    .jean .container .row .col-6{
        width: 100%;
    }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}